Flask==3.0.3
Flask-Login==0.6.3
Flask-WTF==1.2.1
python-dotenv==1.0.1
WTForms==3.1.2
email-validator==2.2.0
SQLAlchemy==2.0.31
Werkzeug==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
langchain==0.2.7
langchain-google-genai==1.0.7
gunicorn
